html, body {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 85px auto;
}

section img {
    position: absolute;
}

.nextpic {
    position: absolute;
    height: 100%;
    width: 20%;
    z-index: 20;
    right: 0;
}

p {
    position: absolute;
    font-size: 1.2em;
    padding: 20px;
    background: rgb(13, 162, 212);
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}